<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" /> 
<title>登陆</title>
<link type="text/css" rel="stylesheet" href="stylesheets/signin.css">
<link type="text/css" rel="stylesheet" href="stylesheets/common.css">
</head>
<body>
  <div id="content">
    <form style="margin-top:70px;" method="post">
      <div class="form_line">
        <div class="form_label">昵称：</div>
        <input type="text" name="name" />
      </div>
      <div class="form_line">
        <div class="form_label"></div>
        <button class="button gray" type="submit">登录</button>
        <button class="button gray" type="reset">取消</button>
      </div>
    </form>
  </div>
</body>
</html>